.baseLayout-component {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  main {
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: url('../../../assets/img/background/1.png') center center / cover no-repeat;
      &-slot {
      }
    }
    .container {
      //
    }
    .footer {
      .footer-default {
        height: 100px;
        background-color: #fff;
      }
    }
  }
}
