.NavigationComponent {
  height: 60px;
  padding: 0 20px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 18px;
  .left {
    cursor: pointer;
  }
  .right {
    i {
      margin-left: 20px;
    }
  }
  // background-color: darkgoldenrod;
}
